<div
  class="container"
  style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-top: 60px;
      "
>
  <h1>Page not found</h1>
  <a href="/" class="btn btn-primary">Go to the homepage</a>
</div>